* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --background: #fffbfa;
    --primary: #54defd;
    --secondary: #00bd9d;
  }
  /* body {
    background-color: var(--background);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }
  a {
    outline: none;
  }
  
  .error {
    color: #fff;
    background-image: linear-gradient(to right, #771d32cc, #e65758bf);
    border-radius: 6px;
    padding: 0.4rem;
    margin: 0.3rem 0;
    text-align: center;
  }*/
  nav {
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, #0f0f0f87, #0000);
  }
  .pro{
    width: 50px;
    height: 50px;
    border-radius: 30px;
  }
  nav ul {
    display: flex;
  }
  
  nav ul li {
    list-style: none;
    margin-top: 0.6rem;
    margin-right: 1rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: var(--secondary);
    outline: 0;
    padding: 0.2rem;
    transition: all 0.2s;
  }
  nav ul li a:hover {
    color: var(--secondary);
  }
  /*
  .mycontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 2rem;
  }
  
  .right {
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    max-width: 20rem;
    padding: 2rem;
    background-color: #2222229c;
    box-shadow: -2px 4px 31px #00000069;
  }
  .login-box h3,
  .login-box label {
    color: #fff;
  }
  .login form {
    display: flex;
    flex-direction: column; 
    align-items: center;
  }
  .btn,
  .btn:hover {
    background-color: var(--secondary);
    color: #fff;
    outline: none !important;
  }
  .btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(0, 189, 157, 0.25);
  }
  
  .form-control,
  .form-control:active,
  .form-control:focus {
    background-color:transparent;
    border: none;
    color: #fff;
  }
  
  .form-control:focus {
    border-color: var(--secondary);
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
  }
  
  .form-control::placeholder {
    color: #fff;
    opacity: 0.5;
  }
  
  .left {
    min-height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .left div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
  }
  
  .left div img {
    max-width: 12rem;
    max-height: auto;
  }
  
  .left div h2 {
    font-size: 1.5rem;
    color: var(--secondary);
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(255, 255, 255) !important;
  } */
  body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
  }
  
  .login-box {
    margin-top: 75px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .img1{
    width: 10rem;
    height: 10rem !important;
  }
  .login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
  }
  
  .login-form {
    margin-top: 25px;
    text-align: left;
  }
  
  input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    /* color: #ECF0F5; */
  }
  
  input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
  }
  
  .form-group {
    margin-bottom: 40px;
    outline: 0px;
  }
  
  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 0;
  }
  
  label {
    margin-bottom: 0px;
  }
  
  .form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
  }
  
  .login-btm {
    float: left;
  }
  
  .login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
  }
  
  .login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
  }
  
  .loginbttm {
    padding: 0px;
  }
  
  @media (max-width: 800px) {
    .left {
      display: none;
    }
  
    .mycontainer {
      display: flex;
      justify-content: center;
    }
  }
  
  