{%extends 'layout.html'%} {%block title%}{% if obj_book %}{{obj_book.title}} |
{{obj_book.author}}{%endif%}{%endblock%}{%block template%}

<div class="main">
    <form action="/books">
        <div class="search-box">
          <div>
            <a href="{{url_for('search')}}">
              <img src="{{url_for('static',filename='images/brand.png')}}" alt="logo"
            /></a>
          </div>
    
          <input
            type="text"
            class="form-control"
            placeholder="Search your Book"
            name="search"
          />
          <div><button class="btn">Search</button></div>
        </div>
      </form>

      <div class="container mt-5">
        <div class="info-section">
            <div class="info">
              <img src="{{url_for('static',filename='images/boook.jpg')}}" alt="logo">
              <h2>{{obj_book.title}}</h2>
              <p>{{obj_book.author}} | {{obj_book.year}} | {{obj_book.isbn}}</p>
            </div>
            {% if not(error) %}
            <div class="rating">
              <img
                src="{{url_for('static',filename='images/goodreads.png')}}"
                alt="logo"
              />
              <p align="center">
                Rating {{rating}} / 5 by {{count}} people
              </p>
            </div>
            {%endif%}
          </div>
      </div>
</div>

{%endblock%}