{%extends 'layout.html'%} {%block title%}{% if obj_book %}{{obj_book.title}} |
{{obj_book.author}}{%endif%}{%endblock%}{%block template%}
<link rel="stylesheet" href="{{ url_for('static',filename='css/book.css')}}" />

<div class="main">
  <form action="/books">
    <div class="search-box">
      <div>
        <a href="{{url_for('search')}}">
          <img src="{{url_for('static',filename='images/brand.png')}}" alt="logo"
        /></a>
      </div>

     <div class="form-group">
      <input
      type="text"
      class="form-control rounded"
      autocomplete="off"
      placeholder="Search your Book"
      name="search"
      value="{{q}}"
    />
     </div>
      <div class="col-lg-3 login-btm login-button">
        <button type="submit" class="btn btn-outline-primary" id="btnSubmit">Search</button>
    </div>
    </div>
  </form>

  <div class="container mt-5">
    {% if obj_book %}
    <div class="info-section">
      <!-- <div class="info border border-warning">
        <img
          src="{{url_for('static',filename='images/boook.jpg')}}"
          alt="logo"
        />
        <h2>{{obj_book.title}}</h2>
        <p>{{obj_book.author}} | {{obj_book.year}} | {{obj_book.isbn}}</p>
      </div> -->
      <div class="col-md-6">
          <div class="mycard border border-warning">
            <blockquote class="blockquote mb-0">
              <!-- <img src="{{url_for('static',filename='images/boook.jpg')}}" alt="logo"> -->
              <p>
                {{obj_book.title}} | {{obj_book.author}}
              </p>
              <footer class="blockquote-footer">
                Published on {{obj_book.year}} | ISBN {{obj_book.isbn}}
              </footer>
            </blockquote>
          </div>
        <!-- </a> -->
      </div>
      {% if not(error) %}
      <div class="rating">
        <h2>Good Reads</h2>
        <p align="center">Rating {{rating}} / 5 by {{count}} people</p>
      </div>
      {%endif%}
    </div>
    {% if session['logged_in'] and not(is_reviewed) %}
    <hr class="border border-warning"/>
    <form action="{{url_for('book',isbn=obj_book.isbn)}}" method="POST">
      <input type="hidden" name="book_id" value="{{obj_book.id}}" />
      <div class="myreview-box border border-warning">
        {%if message %}
        <div class="error">{{message}}</div>
        {%endif%}
        <div class="myreview">
          <div class="mt-4 mx-4">
            <label for="select">Rating</label>
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
          </div>
          <div class="form-group mt-4 mx-4">
            <label for="exampleFormControlTextarea1">Review</label>
            <textarea
              class="form-control border border-warning"
              id="exampleFormControlTextarea1"
              rows="2"
              name="review"
              placeholder="Write your review..."
            ></textarea>
          </div>
        </div>
        <input
          type="text"
          placeholder=""
          id="review_isbn"
          class="d-none"
          name="review_isbn"
          value="{{obj_book.isbn}}"
        />
        <div class="button">
          <button class="btn m-3 bg-info">Submit</button>
        </div>
      </div>
    </form>
    {%elif not( session['logged_in'])%}
    <hr class="border-warning"/>
    <div class="login-msg">
      <a href="{{url_for('login', next=obj_book.isbn)}}">Login</a> or
      <a href="{{url_for('register',next=obj_book.isbn)}}">Sign up</a> to give
      your review
    </div>
    <hr class="border-warning"/>
    {% endif%}
    <div class="reviews mb-5" >
      {% if reviews %} {%for review in reviews%}
      <!-- start review -->
      <div class="review">
        <h5>{{review.username}} | {{review.rating}}</h5>
        <h6>{{review.review}}</h6>
      </div>
      <!-- end review -->
      {%endfor%} {%endif%}
    </div>
    {%else%}
    <div class="error">404 Not Found</div>
    {%endif%}
  </div>
</div>

{%endblock%}