<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/jpg" href="{{url_for('static',filename='images/brand.png')}}"/>


    <!-- <link rel="stylesheet" href="style.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/base.css')}}"/>
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <nav>
        <ul>
          {% if session['logged_in']%}
          <li>
            <a href="#"><i class="fa fa-user-circle fa-lg"></i> &nbsp;{{session['username']}}</a>
          </li>
          {% endif %}
          <li><a href="{{url_for('search')}}">Search</a></li>
          {% if not session['logged_in']%}
          <li><a href="{{url_for('login')}}">Login</a></li>
          <li><a href="{{url_for('register')}}">Sign up</a></li>
          {%else%}
          <li><a href="{{url_for('logout')}}">Logout</a></li>
          {% endif %}
        </ul>
      </nav>
      {% block template %}{%endblock%}
</body>
</html>