{% extends 'layout.html' %} {%block title%}Login{%endblock%} {% block template %}

<div class="mycontainer"> 
    <div class="row">
      <div class="col-lg-4 col-md-2">
        <div class="col-lg-3 col-md-3">
          <div class="col-lg-12 login-key">
            <img class="img1 ml-0" src="{{url_for('static',filename='images/brand.png')}}" alt="logo" />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 login-box">
          <div class="col-lg-12 login-title">
              Login
          </div>
        {% if message %}
        <div class="error">{{message}}</div>
        {%endif%}
          <div class="col-lg-12 login-form">
              <div class="col-lg-12 login-form">
                  <form method="POST" action="{{ url_for('login', next=next) }}">
                      <div class="form-group">
                          <label class="form-control-label">Username</label>
                          <input type="text" class="form-control" autocomplete="off" id="exampleInputEmail1"  name="username"required/>
                      </div>
                      <div class="form-group">
                          <label class="form-control-label">Password</label>
                          <input type="password" class = "form-control" id="exampleInputPassword1" name="password" required />
                      </div>
                      </div>

                      <div class="col-lg-12 loginbttm">
                          <div class="col-lg-6 login-btm login-text">
                              <!-- Error Message -->
                          </div>
                          <div class="col-lg-6 login-btm login-button">
                              <button type="submit" class="btn btn-outline-primary" id="btnSubmit">Login</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-lg-3 col-md-2"></div>
      </div>
  </div>
{%endblock%}
