{% extends 'layout.html' %} {%block title%}Search{%endblock%}{% block template %}

<div class="container">
  <div class="row m-2">
    <div class="col-lg-3 col-md-3">
      <div class="col-lg-12 login-key">
        <img class="img1" src="{{url_for('static',filename='images/brand.png')}}" alt="logo" />
      </div>
    </div>
    <div class="col-lg-6 col-md-8 login-box bg-transparent">

      <div class="col-lg-12 login-form">
        <div class="col-lg-12 login-form">
          <form action="/books">
            <div class="form-group">
              <!-- <label class="form-control-label">Username</label> -->
              <input type="text" class="form-control bg-transparent" autocomplete="off" name="search"
                placeholder="Search your Book" required />
            </div>
            <div class="col-lg-6 login-btm login-button">
              <button type="submit" class="btn btn-outline-primary" id="btnSubmit">Search</button>
            </div>
        </div>
        </form>
      </div>
    </div>
    <div class="col-lg-3 col-md-2"></div>
  </div>



  <!-- <form action="/books">
      <div class="search">
        <img src="{{url_for('static',filename='images/brand.png')}}" alt="logo" />
  
        <input
          type="text"
          class="form-control border-bottom border-warning"
          name="search"
          placeholder="Search your Book"
          required
        />
        <button class="btn bg-info">Search</button>
      </div>
    </form> -->


  <section id="section-about" class="about-section mt-5">
    <div class="all-sections">
      <div data-aos="fade-right" class="mini-section">
        <div class="hexagon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <div class="text-mini-section">
          <h1>Search</h1>
          <p>
            Search for books by Isbn, title or author.
          </p>
        </div>
      </div>
        <div data-aos="fade-up" class="mini-section">
          <div class="hexagon">
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </div>
          <div class="text-mini-section">
            <h1>Review</h1>
            <p> Leave and see reviews for individual books.</p>
          </div>
        </div>
        <div data-aos="fade-up" class="mini-section">
          <div class="hexagon">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="text-mini-section">
            <h1>Good Reads</h1>
            <p>See ratings from a broader audience.</p>
          </div>
        </div>
        <div data-aos="fade-left" class="mini-section">
          <div class="hexagon">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </div>
          <div class="text-mini-section">
            <h1>Api</h1>
            <p>
              See details  of individual books.
            </p>
          </div>
        </div>
    </div>
  </section>
</div>
{%endblock%}