{% extends 'layout.html' %} {%block title%}Search{%endblock%}{% block template %}

<div class="container">


  <div class="row m-3">
    <div class="col-lg-3 col-md-2">
      <div class="col-lg-12 login-key">
        <img class="img1" src="{{url_for('static',filename='images/brand.png')}}" alt="logo" />
      </div>
    </div>
    <div class="col-lg-6 col-md-8 login-box">
        
        <div class="col-lg-12 login-form">
            <div class="col-lg-12 login-form">
                <form action="/books">
                    <div class="form-group">
                        <!-- <label class="form-control-label">Username</label> -->
                        <input
          type="text"
          class="form-control"
          autocomplete="off"
          name="search"
          placeholder="Search your Book"
          required
        />
                    </div>
                    <div class="col-lg-6 login-btm login-button">
                        <button type="submit" class="btn btn-outline-primary" id="btnSubmit">Search</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
    <div class="col-lg-3 col-md-2"></div>
</div>



    <!-- <form action="/books">
      <div class="search">
        <img src="{{url_for('static',filename='images/brand.png')}}" alt="logo" />
  
        <input
          type="text"
          class="form-control border-bottom border-warning"
          name="search"
          placeholder="Search your Book"
          required
        />
        <button class="btn bg-info">Search</button>
      </div>
    </form> -->
<div>
    {%endblock%}
</div>
</div>