{% extends 'layout.html' %} {%block title%}Signup{%endblock%}{% block template %}
<style>
body {
    background-image: linear-gradient(
        to right,
        rgba(13, 6, 54, 0.219),
        rgba(43, 5, 5, 0.123)
      ),
      url("{{url_for('static',filename='images/store.jpg')}}");
  }
  .left{
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(13, 6, 54, 0.219),
        rgba(43, 5, 5, 0.123)
      ),
      url("{{url_for('static',filename='images/baby.png')}}");
  }
</style>

<div class="mycontainer">
    <div class="left">
      <div>
      </div>
    </div>
    <div class="right">
      <div class="login-box">
        <h3 align="center">Sign up</h3>
        {% if message %}
        <div class="error">{{message}}</div>
        {%endif%}
        <div class="login">
          <form method="POST" action="{{ url_for('register', next=next) }}">
            <div class="form-group border-bottom border-warning">
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter Full Name"
                pattern="[a-zA-Z0-9\s]+"
                required
                name="name"
              />
            </div>
            <div class="form-group border-bottom border-warning">
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter Username"
                pattern="[a-zA-Z0-9]+"
                required
                name="username"
              />
            </div>
            <div class="form-group border-bottom border-warning">
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Enter Password"
                required
                name="password1"
              />
            </div>
  
            <div class="form-group border-bottom border-warning">
              <input  
                type="password"
                class="form-control"
                id="exampleInputPassword2"
                placeholder="Confirm Password"
                required
                name="password2"
              />
            </div>
  
            <button type="submit" class="btn bg-info">Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{%endblock%}